*{
	
	font-family:'Open Sans', sans-serif;
}


.logo-1{
	float: left;
	width: 150px;
	height: 60px;
	background-image: url('logo1.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: purple;*/
}

body{

	background-color: #8a8078;
	margin-left: 30%;
	height: 100%;
}

table{



border-color: blue;
font-family: fantasy;
color: blue;
text-align: center;
width: 47%;


}

fieldset{


    border-top: 5px;
    border-bottom: 5px;
    border-right: 5px;
    border-left: 5px;
    border-style: solid;
    border-color: black;
    margin-top: 50px;
	width: 35%;
	position: center;

}

h2{


	font-size: 40px;
}


nav{


margin-top: 70px;
font-size: 30px;
color: black;


}

a{

font-size: 30px;
color: blue;
}

header{

font-size: 16px;
font-weight: bold;


}

input{

	background-color: #7a7978;
}

option{

	background-color: #7a7978;
}

textarea{

	background-color: #7a7978;
}

select{
	background-color: #7a7978;
}